.form{
  width: 700px;
  background-color:white;
  background-image:
  radial-gradient(#48B 9px, transparent 10px),
  repeating-radial-gradient(#48B 0, #48B 4px, transparent 5px, transparent 20px, #48B 21px, #48B 25px, transparent 26px, transparent 50px);
  background-size: 30px 30px, 90px 90px;
  background-position: 0 0;
}
